{% extends "base.html" %}

{% block page_heading %}
    Create New Project
{% endblock %}

{% block page_content %}
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Submit your assignment</h6>
    </div>
    <div class="card-body">
        <form>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputEmail4">Name</label>
                    <input type="text" class="form-control" id="assignmentName" placeholder="Name of assignment">
                </div>
                <div class="form-group col-md-6">
                    <label for="datepicker">Due Date:</label>
                    <input type="text" class="form-control" id="datepicker">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputEfforts">Estimated Efforts</label>
                    <input type="text" class="form-control" id="totalEfforts" placeholder="Estimated required time (days)">
                </div>
                <div class="form-group col-md-6">
                    <label for="exampleFormControlFile1">Upload PDF</label>
                    <input type="file" class="form-control-file" id="exampleFormControlFile1">
                </div>
            </div>
            <button class="btn btn-primary">Extract detailed breakdown</button>
        </form>
    </div>
</div>
{% endblock %}