body {
    font-family: sans-serif;
    margin: 20px;
    background-color: #FBF7F1;
  }
  
  body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
  }
  
  header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  }
  
  header h1 {
    font-size: 2em;
    margin: 0;
  }
  
  header nav {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  header nav li {
    display: inline-block;
    margin-right: 20px;
  }
  
  header nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
  .planner-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }

  .planner-header img {
      margin-right: 10px;
  }

  .planner-header h2 {
      font-size: 24px;
  }

  main {
    padding: 20px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .hero {
    text-align: center;
    margin-bottom: 40px;
    padding: 20px; 
  }
  
  .hero h2 {
    font-size: 2em;
    margin-bottom: 10px;
    color: #333;
  }
  
  .hero p {
    font-size: 1.2em;
    margin-bottom: 20px;
    color: #666;
  }
  
  .hero-button {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
  }
  
  .hero-button:hover {
    background-color: #45a049;
  }
  
  .features {
    margin-bottom: 40px;
  }
  
  .features h3 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  
  .features ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .features li {
    margin-bottom: 10px;
    width: 30%;
    text-align: center;
  }
  
  .features li i {
    font-size: 2em;
    color: #4caf50;
    margin-bottom: 10px;
  }
  
  .cta {
    margin-top: 100px;
    text-align: center;
  }
  
  .cta h2 {
    margin-bottom: 20px;
    color: #333;
  }
  
  .cta-button {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
  }
  
  .cta-button:hover {
    background-color: #45a049;
  }
  
  footer {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
    color: #666;
  }
  

  h1 {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="date"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 15px;
  }
  
  input[type="file"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 15px;
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }

  #breakdown-form{
    width: 50vw;
    margin: auto;
  }
  
  #breakdown-container {
    margin-top: 20px;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  #breakdown-container input[type="checkbox"] {
    margin-right: 10px;
  }
  
  .progress-bar {
    width: 100%;
    height: 10px;
    background-color: #ddd;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .progress-bar .progress {
    height: 100%;
    background-color: #4CAF50;
    border-radius: 5px;
    transition: width 0.3s ease-in-out;
  }
  planner-body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #FBF7F1;
    font-family: 'Arial', sans-serif;
  }

  .task-section {
      width: 80%;
      margin: 20px 0;
      background-color: white;
      border-radius: 8px;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
      padding: 20px;
  }

  .task-actions {
      display: flex;
      justify-content: flex-start;
      gap: 10px;
  }

  .edit-button,
  .cancel-button {
      background-color: transparent;
      border: none;
      cursor: pointer;
  }

  .action-img {
      width: 20px;
      height: 20px;
  }

  .task-details {
      margin-top: 10px;
  }
  .integration-section {
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  .integration-button {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px 20px;
      background-color: #ffffff;
      color: #162832;
      border: none;
      border-radius: 8px;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
      cursor: pointer;
      text-decoration: none;
      font-weight: bold;
      transition: background-color 0.3s ease;
  }

  .jira-link-text,
  .continue-text {
      margin-left: 10px;
  }

  .planner-results-section {
    width: 80vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    padding: 20px;
  }

